.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}
@media (max-width: 1024px) {
    .grilla {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 768px) {
    .grilla {
        grid-template-columns: 1fr; 
    }
}
.grilla div {
    background-color: aquamarine; 
    color: white;               
    text-align: center;
    border-radius: 5px; 
}